@model List<Estore.Models.products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}



<style>

    .head {
        text-align: center;
    }

    table {
        text-align: center;
        border: 1px solid black;
        border-bottom: 2px solid #00cccc;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.10), 0px 10px 20px rgba(0,0,0,0.05), 0px 20px 20px rgba(0,0,0,0.05), 0px 30px 20px rgba(0,0,0,0.05);
        margin-top:2%;
    }

    th, td {
        @*color: #999;*@
        border: 1px solid #eee;
        padding: 12px 35px;
        border-collapse: collapse;
    }

    th {
        background: #00cccc;
        @*color: #fff;*@
        text-transform: uppercase;
        font-size: 12px;
   

  
    }

    th > a {
        color: black;
        text-decoration: none;
    }
</style>


<div class="head">
    <h2>Products</h2>

</div>

<div class="sub">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="background-color: #0d6efd; color:#fff">
        <i class="glyphicon glyphicon-align-left"></i>
        <span>Search</span>
    </button>
    @if (User.Identity.Name == "admin")
    {
        <a class="btn btn-success" href="/products/create"> Add </a>
    }
    else if (User.Identity.Name == "manager")
    {
        <a class="btn btn-success" href="/products/create"> Add </a>
    }

</div>


<table class="table">
    <tr>
        <th>

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=ProductID&IconClass=fa-sort-asc&PageNo=1"> ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=ProductID&IconClass=fa-sort-desc&PageNo=1"> ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th> Photo</th>
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=ProducName&IconClass=fa-sort-asc&PageNo=1"> Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=ProductName&IconClass=fa-sort-desc&PageNo=1"> Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=Price&IconClass=fa-sort-asc&PageNo=1">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=Price&IconClass=fa-sort-desc&PageNo=1">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-asc&PageNo=1">Date</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-desc&PageNo=1">Date </a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-asc&PageNo=1"> Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-desc&PageNo=1"> Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=VendorID&IconClass=fa-sort-asc&PageNo=1">Sold By</a>
                if (ViewBag.SortColumn == "VendorID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=VendorID&IconClass=fa-sort-desc&PageNo=1">Sold By</a>
                if (ViewBag.SortColumn == "VendorID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th> Menu</th>
    </tr>
    @foreach (var item in Model)
    {
<tr id="row_@item.ProductID">

    <td>@item.ProductID</td>
    <td><img class="proImg" src="data:image;base64,@item.Photo" /></td>
    <td>@item.ProductName</td>
    <td>@item.Price.Value.ToString("C")</td>
    <td>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
    <td>@item.AvailabilityStatus</td>
    <td>@item.vendors.VendorName</td>

    @if (User.Identity.Name != "admin")
    {
        <td>
            <a class="btn btn-info" href="/Products/Details/@item.ProductID">Details</a>
        </td>
    }
  

    @if (User.Identity.Name == "admin" )
    {
        <td>
            <a class="btn btn-info" href="/Products/Details/@item.ProductID">Details</a> |



            <a class="btn btn-success" href="/Products/Edit/@item.ProductID">Edit</a> |
            <a class="btn btn-danger" href="#" onclick="ConfirmDelete(@item.ProductID)">Delete</a>

        </td>
    }
</tr>


    }

    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Product</h3>
                @* <a href="#" class="close" data-dismiss="modal">&times;</a>*@

            </div>
            <div class="modal-body">
                <div style="text-align:center" id="loaderDiv">
                    <img style="width:150px;" src="https://img.icons8.com/color/48/000000/box-important--v4.gif" />
                </div>
                <h4>Are you sure ? You want to delete ?</h4>



            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" onclick="cancel()" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="Delete()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<input type="hidden" id="hiddenVendorID" />

<script>

    var ConfirmDelete = function (ProductID) {

        $("#hiddenVendorID").val(ProductID);
        $("#myModal").modal('show');

    }

    var Delete = function () {

        $("#loaderDiv").show();

        var ProductID = $("#hiddenVendorID").val();

        $.ajax({

            type: "POST",
            url: "/Products/Delete/",
            data: { id: ProductID },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + ProductID).remove();

            }

        })

    }

    var cancel = function () {
        $("#myModal").modal("hide");
    }
</script>
