<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request</title>
 
</head>
<body>

    <div>
        <table>
            <tr>
                <td>Url</td>
                <td>@ViewBag.Url</td>
            </tr>
            <tr>
                <td>Physical Application Path</td>
                <td>@ViewBag.PhysicalApplicationPath</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>@ViewBag.Path</td>
            </tr>
            <tr>
                <td>Browser Type</td>
                <td>@ViewBag.BrowserType</td>
            </tr>
            <tr>
                <td>QueryString</td>
                <td>@ViewBag.QueryString</td>
            </tr>
            <tr>
                <td>Headers</td>
                <td>@ViewBag.Headers</td>
            </tr>
            <tr>
                <td>Http Method</td>
                <td>@ViewBag.HttpMethod</td>
            </tr>
        </table>
    </div>
</body>
</html>


