@model Estore.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm("register", "account", FormMethod.Post))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.Username)
            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Enter Username", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Username)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.Password)
            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Enter Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Password)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.ConfirmPassword)
            @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.email)
            @Html.TextBoxFor(temp => temp.email, new { placeholder = "Email", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.email)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.Mobile)
            @Html.TextBoxFor(temp => temp.Mobile, new { placeholder = "Mobile", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Mobile)
        </div>



        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.Address)
            @Html.TextBoxFor(temp => temp.Address, new { placeholder = "Address", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Address)
        </div>

    </div>



    <button type="submit" class="btn btn-success">Register</button>
}





